@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

.pilt {
  width: 500px;
}

.pilt:hover {
  cursor: pointer;
  opacity: 0.8;
}

.pilt:active {
  border-radius: 12px;
  /* transform: rotate(180deg); */
}

.nupp {
  background-color:antiquewhite;
  color:brown;
}

.nupp:hover {
  background-color: bisque;
  border: 2px dotted rgb(232, 169, 11);
}

.nupp:active {
  background-color: rgb(10, 150, 220);
  text-decoration: underline;
} 

.kuldne {
  color: goldenrod;
}

.hele-leht {
  background-color: aliceblue;
  min-height: 100vh;
}

.tume-leht {
  background-color: black;
  color: white;
  min-height: 100vh;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.hinnad {
  text-align: start;
}

.aktiivne {
  background-color: rgb(238, 244, 238);
  border: 1px solid green;
}

.mitteaktiivne {
  background-color: rgb(239, 228, 228);
  border: 1px solid red;
}