

body {
  background-color: beige;
}

.nupp {
  background-color: green;
  color: grey
}

.nupp:hover {
  height: 100px;
}

.nupp:active {
  cursor: grab;
}

.tekst-s {
  color: blue;
}

.tekst-s:hover {
  font-size: 24px;
}

.tekst-r{
  color: green;
  border: 2px solid red;
}

.tekst-r:hover {
  border-color: brown;
}

.pildi-konteiner {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.pilt {
  width: 260px;
  grid-column: 5;
}

.pilt:hover {
  border-radius: 20px;
}

.pilt:active {
  opacity: 0.7;
}